@model IEnumerable<DMS.Web.Models.UnitInformationModel>
@{
    ViewData["Title"] = "UnitInfoListUC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>@*Unit Information List*@</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                <li class="breadcrumb-item active">Unit Information</li>
            </ol>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a asp-controller="UnitInfo" asp-action="AddNewUnitInfo" class="btn btn-success btn-sm">
                        <i class="fas fa-plus-circle"></i> Add New
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tblUnitListUC" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Activity Log</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    </td>

                                    @if (item.UnitCoordinator == User.Identity.Name)
                                    {
                                        @if (item.Status == "Approved")
                                        {
                                            <td>
                                                <a asp-action="ViewUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="View Unit Information">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a asp-action="DownloadUnitInfo" asp-route-id="@item.Id" target="_blank" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Download Unit Information">
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            </td>
                                        }
                                        else if (item.Status == "Reject(Minor)")
                                        {
                                            <td>
                                                <a asp-action="EditUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-info btn-sm btn-icon-split" data-toggle="tooltip" data-placement="top" title="Edit Unit Information">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a asp-action="ApproveUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-success btn-sm btn-icon-split" data-toggle="tooltip" data-placement="top" title="Approve Unit Information">
                                                    <i class="fas fa-check-circle"></i>
                                                </a>
                                                <a asp-action="RemoveUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-danger btn-sm btn-icon-split" data-toggle="tooltip" data-placement="top" title="Remove Unit Information">
                                                    <span style="font-size: 1em; color: white;">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </span>
                                                </a>
                                                <a asp-action="DownloadUnitInfo" asp-route-id="@item.Id" target="_blank" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Download Unit Information">
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a asp-action="ViewUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="View Unit Information">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a asp-action="EditUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Edit Unit Information">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a onclick="ConfirmDeleteByUC(@item.Id)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete Unit Information">
                                                    <span style="font-size: 1em; color: white;">
                                                        <i class="fas fa-minus-circle"></i>
                                                    </span>
                                                </a>
                                                @if (!String.IsNullOrEmpty(item.CourseCoordinator))
                                                {
                                                    <a asp-action="AssignToCourseCoordinator" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Assign to Course Coordinator">
                                                        <i class="fas fa-share-square"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-action="AssignToCourseCoordinator" asp-route-id="@item.Id" class="btn btn-primary btn-sm disabled" data-toggle="tooltip" data-placement="top" title="Assign to Course Coordinator">
                                                        <i class="fas fa-share-square"></i>
                                                    </a>
                                                }
                                                <a asp-action="DownloadUnitInfo" asp-route-id="@item.Id" target="_blank" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Download Unit Information">
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-action="ViewUnitInfoByUC" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="View Unit Information">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a asp-action="DownloadUnitInfo" asp-route-id="@item.Id" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Download Unit Information">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remove Unit Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this unit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="RemoveUnitInfoByUC()" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnUnitInfoID" />
