@model DMS.Web.Models.UnitInformationModel
@{
    ViewData["Title"] = "EditUnitInfoByUC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                <li class="breadcrumb-item active">Unit Information</li>
            </ol>
        </div>
    </div>
</div>
<div id="content-to-pdf" style="background-color:white" class="col-lg-12">
    <div class="form-group row" style="background-color:cornflowerblue">
        <div class="col-sm-6" style="text-align:left">
            <img class="profile-user-img img-responsive" style="border:none; width:150px" src="~/img/cdu-logo.png" />
        </div>
        <div class="col-sm-6" style="text-align:right">
            Charles Darwin University <br />Ellengowan Drive, Darwin <br />cdu.edu.au
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-12">
            <div style="font-size:20px">Unit Information</div>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-12">
            <div> College of Engineering, Information Technology and Environment</div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="form-group row">
        <div class="col-sm-12">
            Unit Code: @Model.UnitCode
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            Unit Title: @Model.UnitTitle
        </div>
    </div>
    <br /><br /><br />
    <div class="form-group row">
        <div class="col-sm-8">
            <table style="border:1px solid black" width="100%">
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Credit points
                    </td>
                    <td style="border:1px solid black">
                        @Model.CreditPoints
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Assumed knowledge/Prerequisites
                    </td>
                    <td style="border:1px solid black">
                        @Model.Prerequisites
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Semester/Year
                    </td>
                    <td style="border:1px solid black">
                        @Model.Semester / @Model.Year
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Learning method
                    </td>
                    <td style="border:1px solid black">
                        @Model.LearningMethod
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Unit Coordinator
                    </td>
                    <td style="border:1px solid black">
                        @Model.UnitCoordinator
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Phone
                    </td>
                    <td style="border:1px solid black">
                        @Model.Phone
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        Email
                    </td>
                    <td style="border:1px solid black">
                        @Model.Email
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br /><br /><br />
    <div class="form-group row">
        Unit Description : @Model.UnitDescription
    </div>
    <br /><br /><br />
    <div class="form-group row">
        Learning Outcomes : @Model.LearningOutComes
    </div>
    <br /><br /><br />
    <div class="form-group row">
        <h4>Assessment Overview</h4>
    </div>
    <div class="form-group row">
        <table class="table table-bordered" style="border:1px solid black">
            <thead style="border:1px solid black">
                <tr style="border:1px solid black">
                    <th style="border:1px solid black">Item</th>
                    <th style="border:1px solid black">Description/Focus</th>
                    <th style="border:1px solid black">Value</th>
                    <th style="border:1px solid black">Relates to learning outcomes</th>
                </tr>
            </thead>
            <tbody style="border:1px solid black">
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Item_1
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Description_1
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Value_1
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Learning_Outcome_1
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Item_2
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Description_2
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Value_2
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Learning_Outcome_2
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Item_3
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Description_3
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Value_3
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Learning_Outcome_3
                    </td>
                </tr>
                <tr style="border:1px solid black">
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Item_4
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Description_4
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Value_4
                    </td>
                    <td style="border:1px solid black">
                        @Model.Assessment_Overview_Learning_Outcome_4
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /><br /><br />
    <div class="form-group row">
        <h4>Teaching and Learning approach</h4>
    </div>
    <div class="form-group row">
        @Model.TeachingAndLearningApproach
    </div>
    <div class="form-group row">
        How the unit will run  : @Model.TeachingAndLearningApproach_HowUnitRun
    </div>
    <div class="form-group row">
        The lecturer’s role   : @Model.TeachingAndLearningApproach_LecturerRole
    </div>
    <div class="form-group row">
        Student’s participation  : @Model.TeachingAndLearningApproach_StudentParticipation
    </div>
    <div class="form-group row">
        <h4>Resources</h4>
    </div>
    <div class="form-group row">
        Required textbook(s) : @Model.Resources_RequiredTextbooks
    </div>
    <div class="form-group row">
        Learnline  : @Model.Resources_Learnline
    </div>
    <div class="form-group row">
        eReserve Course Readings   : @Model.Resources_eReserveCourseReadings
    </div>
    <div class="form-group row">
        Additional Resources    : @Model.Resources_AdditionalResources
    </div>
    <div class="form-group row">
        <h4>Learning Schedule</h4>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-bordered" style="border:1px solid black">
                <thead style="border:1px solid black">
                    <tr style="border:1px solid black">
                        <th style="border:1px solid black">Weeks</th>
                        <th style="border:1px solid black">Topic/Lecture</th>
                        <th style="border:1px solid black">Tutorial/Laboratory Activities</th>
                        <th style="border:1px solid black">Assessments Submission</th>
                    </tr>
                </thead>
                <tbody style="border:1px solid black">
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_1
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_1
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_1
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_1
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_2
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_2
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_2
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_2
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_3
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_3
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_3
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_3
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_4
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_4
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_4
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_4
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_5
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_5
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_5
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_5
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_6
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_6
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_6
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_6
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_7
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_7
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_7
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_7
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_8
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_8
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_8
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_8
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_9
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_9
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_9
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_9
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_10
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_10
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_10
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_10
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_11
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_11
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_11
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_11
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_12
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_12
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_12
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_12
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_13
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_13
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_13
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_13
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_14
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_14
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_14
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_14
                        </td>
                    </tr>
                    <tr style="border:1px solid black">
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Week_15
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Topic_15
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Tutorial_15
                        </td>
                        <td style="border:1px solid black">
                            @Model.LearningSchedule_Assessments_15
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label class="col-lg-12 col-form-label-sm">
            **Note this proposed class schedule may change during the semester
            and it is the responsibility of the student to check the accuracy
            of important information (e.g. quizzes, submission dates, etc).
            Any changes will be announced on Learnline and during lectures.
        </label>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-block" onclick="Export2Doc('content-to-pdf');">Download</button>
        </div>
    </div>
</div>

