@model IEnumerable<DMS.Web.Models.UnitInformationModel>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Dashboard">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="tblDashboard" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Change Request</th>
                                <th>Unit Code</th>
                                <th>Unit Coordinator</th>
                                <th>Course Coordinator</th>
                                <th>Admin</th>
                                <th>Reviewer1</th>
                                <th>Reviewer2</th>
                                <th>Approver</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChangeRequest)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitCode)
                                    </td>

                                    @if (item.CurrentPosition == "UC")
                                    {
                                        <td style="background-color:red">
                                            @Html.DisplayFor(modelItem => item.UnitCoordinator)
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="background-color:yellow">
                                            @Html.DisplayFor(modelItem => item.UnitCoordinator)
                                        </td>
                                    }

                                    <td>
                                        @if (item.CurrentPosition == "CC")
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.AssignedCourseCoordinator)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.AssignedCourseCoordinator)
                                        }
                                    </td>
                                    <td>
                                        @if (item.CurrentPosition == "Admin")
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.AssignedAdmin)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.AssignedAdmin)
                                        }
                                    </td>
                                    <td>
                                        @if (item.CurrentPosition == "Reviewer")
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.AssignedReviewer1)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.AssignedReviewer1)
                                        }
                                    </td>
                                    <td>
                                        @if (item.CurrentPosition == "Reviewer")
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.AssignedReviewer2)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.AssignedReviewer2)
                                        }
                                    </td>
                                    <td>
                                        @if (item.CurrentPosition == "Approver")
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.AssignedApprover)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.AssignedApprover)
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status == "Approved")
                                        {
                                            <span class="badge bg-success">
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>